.board-cont {
  border: 5px solid rgb(0, 162, 255);
  margin: 0 auto;
  margin-top: 20vh;
  border-radius: 5px;
  background-color: purple;
}
.board {
  position: relative;
  background-color: yellow;
  border: 5px solid rgb(0, 162, 255);
}
